# Tipos de datros estrucutrados 
1. Listas
2. Tuplas
3. Diccioanrios
4. Conjuntos

# Listas

- Tipo de dato que agrupa variables o valores
- Se declara de dos formas
        - usando [ ]
        - usando list()
        - usando un generador
- Puede contener tipos de datos diversos (En otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionan con []
- Soporta slicing
- Son mutables
- GENERADORES [var for x in range 10(-10)]
- Al ser una clase contiene muchos metodos utiles

In [ ]:
numeros=[10, 5, 2, 3, 1]
print(numeros)

numeros2=list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2]=20
print(numeros)
numeros[-1]=33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
# tipos diversos

cosas=[12, 2, True, "Jose", 1.57, ["pera", "kiwi", "uva"] ]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3]=cosas[3].upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
# 1. 4 al 8
print(numeros[3:8])
# 2. [9,10]
print(numeros[-3:-1])
# 3. impirmir la lista al reves [11,10,9,...]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# crear una lista con un generador
numeros={x*3 for x in range(101) }
print(numeros)

{0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300}

# Funcion range()

- Tienen los mismos componentes que slicing

inicio,stop,incremento

range(1,101,1)

In [ ]:
numeros={x for x in range(50, 101) }
print(numeros)

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

# Metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros=[4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)

numeros.clear()
print(numeros)

frutas=["uvas", "kiwi", "manzana"]
copia=frutas
print(frutas)
print(copia)
frutas.append("naranaja")
print(frutas)
print(copia)

colores=["rojo","azul","blanco"]
copia2=colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Numero de veces que aprece el 15", numeros.count(15))

#extend

nombre=["Jose","pedro","karina"]
otrosnombres=["Josue", "Diana","Dalia"]

print(nombre)
print(otrosnombres)
nombre =nombre+otrosnombres
print(nombre)
print(otrosnombres)

#lo mismo con el metodo extend
otrosnombres.extend(["jesus","maria","jose"])
print(otrosnombres)
print("Jesus esta en la pocision:",otrosnombres.index("jesus"))
otrosnombres.insert(4,"Espiritu santo")
print(otrosnombres)

#pop
resultado=otrosnombres.pop()
print(otrosnombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranaja']
['uvas', 'kiwi', 'manzana', 'naranaja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aprece el 15 0
['Jose', 'pedro', 'karina']
['Josue', 'Diana', 'Dalia']
['Jose', 'pedro', 'karina', 'Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia', 'jesus', 'maria', 'jose']
Jesus esta en la pocision: 3
['Josue', 'Diana', 'Dalia', 'jesus', 'Espiritu santo', 'maria', 'jose']
['Josue', 'Diana', 'Dalia', 'jesus', 'Espiritu santo', 'maria']
jose

# Tuplas

### Caracteristicas

- Son datos agrupados
- Se declara usando
        - ()
        - tuple ()
- Es una estructura secuencial, indexada a partir de 0
- Pueden tener de 0 a n elementos 
- No son MUTABLES (no se puede: eliminar y/o cambiar)
- Son buenas para almacenar informacion de consulta
- Pueden al,acenar informacion de diferentes tipos de dato
- Pueden estar anidadas
- Tienen metodos utiles

In [14]:
info = ("juan23","dios1234", "123.232.1.12")
print(info)
print(info[1])
# info[1]="patito1234"   este es un error, ya que no es mutable

numeros=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros[5:11])

cosas=(info, numeros)
print(cosas)
print(cosas[1][5:11])
print(cosas[0][2][4:7])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Metodos de las duplas
Son los mismos de las listas pero los que no involucren mutabilidad

In [ ]:
dir (tuple)

# Diccionario
### Caracterisitcas  de los diccionarios

- Agrupan datos pero no de forma no lineal
- Se declaran con:
  - {}
  - dict()
- Formado por pares del tipo llave:valor, donde:
    - Lalve es de tipo string (siempre)
    - Valor puede ser de cualquier tipo de datos, incluyendo los diccionarios
- Se seleccionan con la llave de la forma ["id_llave"]
- Son mutables
- Son anidables
- Son equivalenmtes al tipo ded ato JSON del lenguajes javascript (JS)

In [30]:
alumno={"nombre":"Jose"}
print(alumno)
print(alumno["nombre"])
alumno={"nombre":"Jose","no":"5629586289","edad":18}
print("Edad del alumno: ", alumno["edad"])
print(alumno["nombre"].upper())

print("Alumno2")
alumno2=dict()     #{}
alumno2["nombre"]="jose"
print(alumno2)
alumno2["No."]="3737737373"
alumno2["edad"]=18
print(alumno2)
alumno2["edad"]=alumno2["edad"]+1
print(alumno2)

{'nombre': 'Jose'}
Jose
Edad del alumno:  18
JOSE
Alumno2
{'nombre': 'jose'}
{'nombre': 'jose', 'No.': '3737737373', 'edad': 18}
{'nombre': 'jose', 'No.': '3737737373', 'edad': 19}

In [18]:
cliente={"id":"CT2121", 
         "nombre":"Jose Pedroza Rosales", 
         "telefono":"casa=55454567  cel=5530302020"}
print(cliente)
cliente={"id":"CT2121", 
         "nombre":{
            "nombre_pila":["Jose", "Eduardo"],
            "parterno": "Pedroza",
            "materno": "Rosales"
          },
         "telefonos":{
             "casa":"4373867386",
             "trabajo": "3586356356",
             "celular":"5672365745"
          },
         "productos":{
            "ahorros": {"numero_cuenta":"7882", "ahorro": 2500.5},
            "tarjetas":[
                         {"tipo": "debito", "saldo": 10000.5},
                         {"tipo": "credito preferente", "limite": 250000},
                         {"tipo": "lite", "limite":25000.5} 
            ]
          },
         "direccion":{
             "calle":"Av, Central",
             "numero":"125",
             "coolonia":"impulsora",
             "delegacion":"neza",
             "estado":{ 
                 "clave":15,
                 "nombre_corto":"EdoMex",
                 "nombre":"Estado de Mexico"
                 }
          }
        }

print(cliente["telefonos"]["casa"])
print(cliente["productos"]["ahorros"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())

{'id': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa=55454567  cel=5530302020'}
4373867386
2500.5
25000.5
ESTADO DE MEXICO