# Tipos de datros estrucutrados 
1. Listas
2. Tuplas
3. Diccioanrios
4. Conjuntos

# Listas

- Tipo de dato que agrupa variables o valores
- Se declara de dos formas
        - usando [ ]
        - usando list()
        - usando un generador
- Puede contener tipos de datos diversos (En otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionan con []
- Soporta slicing
- Son mutables
- GENERADORES [var for x in range 10(-10)]
- Al ser una clase contiene muchos metodos utiles

In [ ]:
numeros=[10, 5, 2, 3, 1]
print(numeros)

numeros2=list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2]=20
print(numeros)
numeros[-1]=33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
# tipos diversos

cosas=[12, 2, True, "Jose", 1.57, ["pera", "kiwi", "uva"] ]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3]=cosas[3].upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
# 1. 4 al 8
print(numeros[3:8])
# 2. [9,10]
print(numeros[-3:-1])
# 3. impirmir la lista al reves [11,10,9,...]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# crear una lista con un generador
numeros={x*3 for x in range(101) }
print(numeros)

{0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300}

# Funcion range()

- Tienen los mismos componentes que slicing

inicio,stop,incremento

range(1,101,1)

In [ ]:
numeros={x for x in range(50, 101) }
print(numeros)

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

# Metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros=[4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)

numeros.clear()
print(numeros)

frutas=["uvas", "kiwi", "manzana"]
copia=frutas
print(frutas)
print(copia)
frutas.append("naranaja")
print(frutas)
print(copia)

colores=["rojo","azul","blanco"]
copia2=colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Numero de veces que aprece el 15", numeros.count(15))

#extend

nombre=["Jose","pedro","karina"]
otrosnombres=["Josue", "Diana","Dalia"]

print(nombre)
print(otrosnombres)
nombre =nombre+otrosnombres
print(nombre)
print(otrosnombres)

#lo mismo con el metodo extend
otrosnombres.extend(["jesus","maria","jose"])
print(otrosnombres)
print("Jesus esta en la pocision:",otrosnombres.index("jesus"))
otrosnombres.insert(4,"Espiritu santo")
print(otrosnombres)

#pop
resultado=otrosnombres.pop()
print(otrosnombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranaja']
['uvas', 'kiwi', 'manzana', 'naranaja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aprece el 15 0
['Jose', 'pedro', 'karina']
['Josue', 'Diana', 'Dalia']
['Jose', 'pedro', 'karina', 'Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia', 'jesus', 'maria', 'jose']
Jesus esta en la pocision: 3
['Josue', 'Diana', 'Dalia', 'jesus', 'Espiritu santo', 'maria', 'jose']
['Josue', 'Diana', 'Dalia', 'jesus', 'Espiritu santo', 'maria']
jose

# Tuplas

### Caracteristicas

- Son datos agrupados
- Se declara usando
        - ()
        - tuple ()
- Es una estructura secuencial, indexada a partir de 0
- Pueden tener de 0 a n elementos 
- No son MUTABLES (no se puede: eliminar y/o cambiar)
- Son buenas para almacenar informacion de consulta
- Pueden al,acenar informacion de diferentes tipos de dato
- Pueden estar anidadas
- Tienen metodos utiles

In [ ]:
info = ("juan23","dios1234", "123.232.1.12")
print(info)
print(info[1])
# info[1]="patito1234"   este es un error, ya que no es mutable

numeros=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros[5:11])

cosas=(info, numeros)
print(cosas)
print(cosas[1][5:11])
print(cosas[0][2][4:7])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Metodos de las duplas
Son los mismos de las listas pero los que no involucren mutabilidad

In [ ]:
dir (tuple)

# Diccionario
### Caracterisitcas  de los diccionarios

- Agrupan datos pero no de forma no lineal
- Se declaran con:
  - {}
  - dict()
- Formado por pares del tipo llave:valor, donde:
    - Lalve es de tipo string (siempre)
    - Valor puede ser de cualquier tipo de datos, incluyendo los diccionarios
- Se seleccionan con la llave de la forma ["id_llave"]
- Son mutables
- Son anidables
- Son equivalenmtes al tipo ded ato JSON del lenguajes javascript (JS)

In [ ]:
alumno={"nombre":"Jose"}
print(alumno)
print(alumno["nombre"])
alumno={"nombre":"Jose","no":"5629586289","edad":18}
print("Edad del alumno: ", alumno["edad"])
print(alumno["nombre"].upper())

print("Alumno2")
alumno2=dict()     #{}
alumno2["nombre"]="jose"
print(alumno2)
alumno2["No."]="3737737373"
alumno2["edad"]=18
print(alumno2)
alumno2["edad"]=alumno2["edad"]+1
print(alumno2)

{'nombre': 'Jose'}
Jose
Edad del alumno:  18
JOSE
Alumno2
{'nombre': 'jose'}
{'nombre': 'jose', 'No.': '3737737373', 'edad': 18}
{'nombre': 'jose', 'No.': '3737737373', 'edad': 19}

In [ ]:
cliente={"id":"CT2121", 
         "nombre":"Jose Pedroza Rosales", 
         "telefono":"casa=55454567  cel=5530302020"}
print(cliente)
cliente={"id":"CT2121", 
         "nombre":{
            "nombre_pila":["Jose", "Eduardo"],
            "parterno": "Pedroza",
            "materno": "Rosales"
          },
         "telefonos":{
             "casa":"4373867386",
             "trabajo": "3586356356",
             "celular":"5672365745"
          },
         "productos":{
            "ahorros": {"numero_cuenta":"7882", "ahorro": 2500.5},
            "tarjetas":[
                         {"tipo": "debito", "saldo": 10000.5},
                         {"tipo": "credito preferente", "limite": 250000},
                         {"tipo": "lite", "limite":25000.5} 
            ]
          },
         "direccion":{
             "calle":"Av, Central",
             "numero":"125",
             "coolonia":"impulsora",
             "delegacion":"neza",
             "estado":{ 
                 "clave":15,
                 "nombre_corto":"EdoMex",
                 "nombre":"Estado de Mexico"
                 }
          }
        }

print(cliente["telefonos"]["casa"])
print(cliente["productos"]["ahorros"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())

cliente["productos"]["ahorros"]["ahorro"]-=1500.0
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa=55454567  cel=5530302020'}
4373867386
2500.5
25000.5
ESTADO DE MEXICO
{'ahorros': {'numero_cuenta': '7882', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000}, {'tipo': 'lite', 'limite': 25000.5}]}

In [ ]:
# Diccionario de una pelicula

peliculas={"pelicula1":{
            "nombre": "Shrek",
            "estilo": "comedia",
            "calificacion": "10/10"
            },
          "pelicula2":{
              "nombre": "son como niños",
              "estilo": "comedia",
              "calificacion": "9/10"
            },
          "pelicula3":{
              "nombre": "Coco",
              "genero": "drama",
              "calificacion": "8/10"
            },
           "pelicula4":{
              "nombre": "Chucky",
              "genero": "miedo",
              "calificacion": "7/10"
            },
           "pelicula5":{
              "nombre": "Sharknado",
              "genero": "comedia/drama",
              "calificacion": "4/10"
            }
        }
print(peliculas)

{'pelicula1': {'nombre': 'Shrek', 'estilo': 'comedia', 'calificacion': '10/10'}, 'pelicula2': {'nombre': 'son como niños', 'estilo': 'comedia', 'calificacion': '9/10'}, 'pelicula3': {'nombre': 'Coco', 'genero': 'drama', 'calificacion': '8/10'}, 'pelicula4': {'nombre': 'Chucky', 'genero': 'miedo', 'calificacion': '7/10'}, 'pelicula5': {'nombre': 'Sharknado', 'genero': 'comedia/drama', 'calificacion': '4/10'}}

# Estructuras de control de programacion

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estrucuras de control:

1. Secuencia
    - La representacion de la memoria de programa (Vonn Newman
2. Seleccion
    - Es la estrucura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloque entre un conjunto de opciones
        - En resumen tenemos: seleccion simple, seleccion con bifurcacion y seleccion multiple
3. Repeticion 
    - Este tipo de estructura nos permite automatizar la ejecucion repetitiva de codigo mientras ciertas condiciones de cumplan, tenemos 3 varianetes de esta estructura en todos los lenguajes de programacion:
        - Desde... hasta (estructura for)
        - Haz mientras (estructura while)
        - Haz y luego validaz mientras (estructura do-while)

# Seleccion simple

la estructura if

                if <condicion>:
                   <cuerpo del IF>

**NOTA** Para establecer el cuerpo de una estructura de control en python se usan los tabuladores a la izquierda

En otros lenguajes de programacion como java, c y c++... se usan las llaves {}

                int edad=0;
                print("Dame tu edad");
                scanf("%i", edad);
                if(edad>=18){
                    print("Eres mayor de edad");
                }
                print("Fin del programa");

In [ ]:
#Seleccion simple

edad=int(input("Dame tu edad:"))
print(f"Tecleaste {edad} años")   # la "f" es un operador del print
if edad>=18:
    print("ERES MAYOR DE EDAD")
    print("Puedes comprar alcohol") #Los tabuladores indican que estan dentro del if
    print("Toma con medida")
print("Cada dia mas viejo jaja")
print("Fin del programa")

Dame tu edad:19
Tecleaste 19 años
ERES MAYOR DE EDAD
Puedes comprar alcohol
Toma con medida
Cada dia mas viejo jajaj
Fin del programa

In [ ]:
# ejercicio 1
"""
calif=float(input("Dame tu calificacion: "))
if calif>=8:
    print("Aprobado")
else:
    print("Reprobado")

print("FIN DEL PROGRAMA")

"""

# ejercicio 2

sue=float(input("Cual es tu sueldo: "))
if sue<1000:
    aum=sue*0.15
    nsue=sue+aum
    print("Tu sueldo es: ", nsue)
else: 
    print("Tu sueldo es: ", sue)

Cual es tu sueldo: 690
Tu sueldo es:  793.5

# Estructura de seleccion con bifurcacion (if-else)

Esta estrucutura, selecciona una de dos opciones de ejecucion, se ejecuta un bloque si la condicion se cumple o se ejecuta otro bloque (else)

In [ ]:
edad=int(input("cuantos años tienes?: "))
print(f"Tienes {edad} años")
if edad >= 18:
    print("Eres mayor de edad, guama?")
else:
    print("Erres menor de edad, ten tu chamito")

cuantos años tienes?: 18
Tienes 18 años
Eres mayor de edad, guama?

In [ ]:
edad=int(input("cuantos años tienes?: "))
print(f"Tienes {edad} años")
if edad >= 18:
    print("Eres mayor de edad")
    dinero=int(input("cuanto traes?: "))
    if dinero >=36:
            print("Pasale por tu guama")
    else:
        print("no chavo, te falta")
        print("De que te sirve tener la edad si ni dinero traes")
        
else:
    print("Eres menor de edad, ten tu chamito")

cuantos años tienes?: 18
Tienes 18 años
Eres mayor de edad
cuanto traes?: 22
no chavo, te falta
De que te sirve tener la edad si ni dinero traes

El codigo anteiror, se puede simplificar usando una palabra reservada (elif: une el if y else) 

En lugar de 

            if: 
                 else:

seria 

                 elif:

In [ ]:
edad=int(input("cuantos años tienes?: "))
print(f"Tienes {edad} años")
if edad >= 18:
    print("Eres mayor de edad")
    dinero=int(input("cuanto traes?: "))
    if dinero >=36:
            print("Pasale por tu guama")
    else:
        print("no chavo, te falta")
        print("De que te sirve tener la edad si ni dinero traes")
        
else:
    print("Eres menor de edad, ten tu chamito")

cuantos años tienes?: 18
Tienes 18 años
Eres mayor de edad
cuanto traes?: 22
no chavo, te falta
De que te sirve tener la edad si ni dinero traes

In [ ]:
CAL= float(input("Escribe tu calificiación: "))
if CAL >= 8 :
    print("Aprobado")
else: 
    print("Reprobado")

In [ ]:
# ejemplo 2.4

SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM
    print(NSUE)
else:
    AUM= SUE*0.12
    NSUE = SUE + AUM
    print(NSUE)

Escribe el sueldo: 900
1035.0

# Ejercicio if-else

Hacer un progrmama que solicite el dia de la semana en un vaklor numerico entero del 1 al 7 (avisarle al usuario si proporciono un valor fuera del rango)

Posteriormente imprimira el dia de la semana correspondinete al numero capturado
1. lunes
2. martes
...

In [ ]:
dia=int(input("Dame el día de la semana del 1-7: "))
if dia is 1:
    print("LUNES")
elif dia is 2:
    print("MARTES")
elif dia is 3:
    print("MIERCOLES")
elif dia is 4:
    print("JUEVES")
elif dia is 5:
    print("VIERNES")
elif dia is 6:
    print("SÁBADO")
elif dia is 7:
    print("DOMINGO")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el día de la semana del 1-7: 1
LUNES

In [ ]:
dias=['esta fuera del rango','Lunes', 'martes','miecoles','jueves','viernes','sabado','domingo']
dia=int(input("Dame el día de la semana del 1-7: "))
if dia <= 7:
    print(dias[dia])
else:
    print("esta fuera del rango")

Dame el día de la semana del 1-7: 7
domingo

# Estructura de Seleccion multiple {switch}
En python no existe la estructura de seleccion multiple {switch}, en su lugar se ocuopa la palabra reservada {elif}

In [ ]:
# ejemplo 2.7
NUM=int(input("dame un numero entre 1 y 3: "))
V=float(input("dame un valor float:"))
VAL=0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** VAL
elif NUM == 3:
    VAL = 100/VAL
else:
    VALL=0
print(VAL)

dame un numero entre 1 y 3: 1
dame un valor float:2
200.0

# 1. 
hacer un progrmama que pida dos numeros enteros y qie los imprima

1. cual es el mayor
2. cual en el menor 
o si son iguales

# 2.
hacer un progrmama que solicte 3 numeros enteros diferentes entre si y que imprima cual de los 3 es mayor

# 3.
hacer un progrmama que solicte 3 numeros enteros diferentes entre si y que imprima cual de los 3 es menor

# 4. 
hacer un programa que solicite 4 numeros diferentes entre si e imprima cual es el mayor y el menor

In [ ]:
# ejemplo 2.8

CATE=int(input("Introduce la categoria: "))
SUE=float(input("Introduce tu sueldo: "))

if CATE==1:
    SUE==SUE*1.15;
elif CATE==2:
    SUE=SUE*1.10;
elif CATE==3: 
    SUE=SUE*2.08;
elif CATE==4:
    SUE=SUE*1.07;

print(f"Categoria= {CATE}, Sueldo= {SUE}")

Introduce la categoria: 1
Introduce tu sueldo: 1000
Categoria= 1, sUELDO= 1000.0

In [ ]:
# ejemolo 2.12

A = int(input("Dame un número entero: "))
B = int(input("Dame otro número entero: "))
C = int(input("Dame otro número entero: "))
if A > B:
    if A > C:
        if B > C:
            print(f"{A}, {B} y {C}")
        else:
            print(f"{A}, {C} y {B}")
    else:
            print(f"{C}, {A} y {B}")
else:
    if B > C:
        if A > C:
            print(f"{B}, {A} y {C}")
        else:
            print(f"{B}, {C} y {A}")
    else:
            print(f"{C}, {B} y {A}")
print("FIN DEL PROGRAMA")

Dame un número entero: 2
Dame otro número entero: 3
Dame otro número entero: 1
3, 2 y 1
FIN DEL PROGRAMA

In [ ]:
# Ejercicio 2.14 

TP= int(input("Que tipo de enfermedad tienes?: "))
EDAD= int(input("Cuantos años tienes?: "))
DIAS= int(input("Cuantos dias llevas con la enfermedad?: "))

if TP==1:
    COSTO=DIAS*25
elif TP==2:
    COSTO=DIAS*16
elif TP==3:
    COSTO=DIAS*20
elif TP==4:
    COSTO=DIAS*32
    
if EDAD>=14 and EDAD<=22:
    costot=COSTO*1.10
    print (f"El costo total es: {costot}")
else:
    print(f"El costo es: {COSTO}")

Que tipo de enfermedad tienes?: 2
Cuantos años tienes?: 11
Cuantos dias llevas con la enfermedad?: 2
El costo es: 32